body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeUAG750OfEgNzemZrRTOat-Nam4WGawkvmw6TtWy_Dw&s);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-color: white;
    background-size: cover;
}

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.position{
    padding:2rem;
}
.size {
    width: 100%;
}
