body{
    display : flex;
    align-content: center;
    padding : auto;
    margin : auto;
    background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80);
    width:100%;
    height:100vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.centre{
    display : flex;
    flex-direction : column;
    align-items:center;
    justify-content: center;
}

.alert{
    margin : 1 rem;
    padding : 1rem;
}