body{
    background-image: url(https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?size=626&ext=jpg&ga=GA1.2.80986908.1691588369&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
}



.full-page{
    width: 100%;
    height: 80vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color : aqua;
}

.abc{
    text-align: center
}
.abc button{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color : white;
}