<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/user.css" type="text/css">
    <title>USER DASHBOARD</title>
</head>

<body> <nav class="navbar navbar-light p-2">
    <div class = "justify-content-end"></div>
    <a class="navbar-brand" href="logout"><button type="button" class="btn btn-secondary">Logout</button></a>
    </nav>
    <h1 class="title"><div class = "center">HELLO, {{ .Username }}</div>
    </h1>
    <div class="full-page center">
        <div class="abc">
            <a href="books"><button type="button" class="w-100 btn btn-secondary">VIEW BOOKS</button><br></a>
            <a href="checkout"><button type="button" class="w-100 btn btn-secondary">CHECKOUT</button><br></a>
            <a href="checkin"><button type="button" class="w-100 btn btn-secondary">CHECKIN</button><br></a>
            <a href="issuedbooks"><button type="button" class="w-100 btn btn-secondary">VIEW ISSUED BOOKS</button><br></a>
            <button type="button" class="w-100 btn btn-secondary" id="makeAdminButton">MAKE ADMIN REQUEST</button><br>
           
        </div>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script type = "text/javascript">
        var makeAdminButton = document.getElementById("makeAdminButton");
        makeAdminButton.addEventListener('click', async ()=>{
           await Swal.fire({
                title : "Request Sent!",
                text : "",
                icon : "success",
                button :"OK",
                timer: 10000,
            });
            // window.location.reload();

            var a = document.createElement("a");
            a.href = "/makeadminrequest"
            a.click()
        })

    </script>
</body>

</html>